---
---

{% include head.html %}

{% include header.html %}

<body>
{% include navigation.html %}

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <p class="lead">The ocean plays a crucial role in the global
                      climate by transporting enormous amounts of heat, freshwater
                      and other tracers on a large range of spatial and temporal scales.
                      <br>As part of the NASA-SPURS program I am interested in the
                      character and variability of these transports and their
                      relevance to the global climate system specifically with
                      respect to the transport of freshwater. I use a combination
                      of in situ data, remote sensing products and numerical model
                      output to quantify the influence of mesoscale eddies on near
                      surface mixing and their importance for the global surface
                      salinity which is inherently tied to the global freshwater cycle.<br>
                      My research is currently supported by the NASA Earth and Space Science Fellowship.
                      <h2>Areas of interest</h2>
                      <p class="lead">Ocean Salinity, Global Hydrological cycle, Mesoscale Eddies, Mixing, Shallow overturning circulation
                    </p>
                    <br>
                    <h2>Education</h2>
                    <p class="lead"> <b>PhD Candidate - Physical Oceanography</b><br>Columbia University<br>
                    </p>
                    <p class="lead"> <b>BSc - Physics of the Earth System</b><br>Christian-Albrechts University, Kiel, Germany<br>2010
                    </p>
                    <h2>Awards</h2>
                    <p class="lead"> <b>Outstanding Student Paper Award</b><br>AGU Fall Meeting - San Francisco, 2016<br>
                    </p>
                    <p class="lead"> <b>NASA Earth and Space Science Fellowship</b><br>2014<br>
                    </p>
                    <p class="lead"> <b>Outstanding Student Paper Award</b><br>Ocean Science Meeting - Honolulu, 2014<br>
                    </p>
                    <p class="lead"> <b>Antarctica Service Medal</b><br>2011<br>
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Publications-->
    <section id="pub"  class="publications bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Publications</h2>
                    <p class="lead">Busecke, J., R. P. Abernathey, A. L. Gordon (2017),
                      <b>Lateral Eddy Mixing in the subtropical salinity maxima
                        of the global Ocean</b>, JPO,doi: 10.1175/JPO-D-16-0215.1
                        <!-- <a href="http://dx.doi.org/10.1175/JPO-D-16-0215.1">
                          doi: 10.1175/JPO-D-16-0215.1</a> -->
                          <!-- Need to adjust the link color for this  -->
                    </p>

                    <p class="lead">Gordon, A. L., C. F. Giulivi, J. Busecke, and F. M. Bingham (2015), <b>Differences among subtropical surface salinity patterns</b>, Oceanography, doi:10.5670/oceanog.2015.02 </p>
                    <!-- http://dx.doi.org/10.5670/oceanog.2015.02 -->

                    <p class="lead">Gordon, A. L., B. A. Huber, and J. Busecke (2015), <b>Bottom water export from the western Ross Sea, 2007 through 2010</b>, GRL, doi:10.1002/2015GL064457 </p>
                    <!-- http://dx.doi.org/10.1002/2015GL064457 -->

                    <p class="lead">Busecke, J., A. L. Gordon, Z. Li, F. M. Bingham, and J. Font (2014), <b>Subtropical surface layer salinity budget and the role of mesoscale turbulence</b>, JGR: Oceans , doi:10.1002/2013JC009715 </p>


                    <p class="lead">Bingham, F. M., J. Busecke, A. L. Gordon, C. F. Giulivi, and Z. Li (2014), <b>The North Atlantic subtropical surface salinity maximum as observed by Aquarius</b>, JGR: Oceans, doi:10.1002/2014JC009825 </p>
                    <!-- http://dx.doi.org/10.1002/2014JC009825 -->

                    <br>
                    <a href="img/CV_JuliusBusecke.pdf" class="btn btn-lg btn-light">Download Full CV</a>
                    <!-- !!! TO DO Full CV -->

                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>



    <!-- Callout -->
    <!-- <aside class="callout">
        <div class="text-vertical-center">
            <h1>Vertically Centered Text</h1>
        </div>
    </aside> -->



    <!-- Call to Action -->
    <!-- <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>The buttons below are impossible to resist.</h3>
                    <a href="#" class="btn btn-lg btn-light">Download Full CV</a>
                    <a href="#" class="btn btn-lg btn-dark">Download full CV</a>
                </div>
            </div>
        </div>
    </aside> -->

    <!-- Footer -->
    <footer>
        <div id="contact" class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Julius Busecke</strong></h4>
                    <p>202a Oceanography<br>61 Route 9W - PO Box 1000<br>Palisades NY 10964<br>United States</p>

                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> +1 (845) 365-8795</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:julius@ldeo.columbia.edu">julius@ldeo.columbia.edu</a>
                    </ul>

                    <!-- <ul class="list-unstyled">
                      <li>  <a href="https://www.linkedin.com/in/julius-busecke-a47027117">LinkedIn</a> </li>
                      <li>  <a href="https://www.researchgate.net/profile/Julius_Busecke">ResearchGate</a> </li>
                    </ul> -->

                    <ul class="list-inline">
                        <!-- <li>
                            <a href="https://vimeo.com/user52830334"><i class="fa fa-vimeo-square fa-fw fa-2x"></i></a>
                        </li> -->
                        <!-- <li>
                            <a href="https://github.com/jbusecke"><i class="fa fa-github-square fa-fw fa-2x"></i></a>
                        </li> -->
                        <li>
                            <a href="https://www.linkedin.com/in/julius-busecke-a47027117"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.researchgate.net/profile/Julius_Busecke"><i class="ai ai-researchgate-square ai-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.orcid.org/0000-0001-8571-865X"><i class="ai ai-orcid-square ai-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://scholar.google.com/citations?user=nXQo4RkAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i></a>
                        </li>

                        <!-- <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li> -->
                    </ul>

                    <br>

                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Julius Busecke 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    $('a[href^="#"]').on('click', function(event) {
    var target = $(this.getAttribute('href'));
    if( target.length ) {
        event.preventDefault();
        $('html, body').stop().animate({
            scrollTop: target.offset().top
        }, 2000);
      }
    });

    // change color when scrolling
    $(document).ready(function(){
      $(window).scroll(function() { // check if scroll event happened
        if ($(document).scrollTop() > 50) { // check if user scrolled more than 50 from top of the browser window
          $('.navbar').addClass("scrolled");
        }else{
            $('.navbar').removeClass("scrolled");
        }

        //   $(".navbar-fixed-top").css("background-color", "#f8f8f8"); // if yes, then change the color of class "navbar-fixed-top" to white (#f8f8f8)
        // } else {
        //   $(".navbar-fixed-top").css("background-color", "transparent"); // if not, change it back to transparent
        // }
      });
    });

    // close the navbar toggle on click
    $(document).on('click','.navbar-collapse.in',function(e) {
      if( $(e.target).is('a') ) {
          $(this).collapse('hide');
      }
    });

    // Google Analytics code
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-79598714-1', 'auto');
    ga('send', 'pageview');
    </script>

</body>

</html>
