<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Julius Busecke</div>
            <div class="intro-heading">Open Science Oceanographer<br>---<br>Climate Data Scientist</div>
            <a href="CV.pdf" class="page-scroll btn btn-xl">Download CV</a>
            <a href="#portfolio" class="page-scroll btn btn-xl">Tell Me More</a>
            <!-- bit hacky (spacing between social buttons and big button) -->
            <p></p>
            <p></p>
            <div class="row">
                <div class="col-lg-12 text-center">
                    {% include social_buttons.html %}
                    <!-- <ul class="list-inline social-buttons">
                            {% for network in site.social %}
                            <li>
                                <a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                            </li>
                            {% endfor %}
                        </ul> -->
                </div>
            </div>
        </div>
    </div>
</header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
