<!-- Portfolio Grid Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">The topics I care about</h3>
                </div>
            </div>

            <!-- <div>
                <ul class="posts">
                    {% for topic in site.research_topics %}
                        <li>
                        <a>{{ topic.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div> -->
            <div class="col-lg-12">
            {% for topic in site.research_topics %}
                <div class="col-md-12  portfolio-item">
                    <a href="#portfolioModal{{ topic.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <!-- <i class="fa fa-plus fa-3x"></i> -->
                                <img src="img/research_thumbnails/{{ topic.thumbnail }}" class="img-responsive img-centered" alt="">
                                <div class="portfolio-caption text-center">
                                    <h4>{{ topic.title }}</h4>
                                    <p class="text-muted">{{ topic.subtitle }}</p>
                                </div>
                            </div>
                        </div>
                        
                    
                    </a>

                </div>
            {% endfor %}
            </div>
        </div>
    </section>