<!-- Services Section -->
    <section id="tools">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-offset-2 text-center">
                    <h2 class="section-heading">Tools</h2>
                    <p class="text-muted">
                    I consider myself a “hybrid-oceanographer”.<br>
                    In modern oceanography, observations, modeling and theory must not be seen as competing.<br>
                    All these elements need to work together to better understand ocean processes to enable us
                    to make informed predictions of the role of the ocean in a future climate.<br><br>
                    Below are my preferred tools to answer scientific questions.
                    <br><br><br>
                    </p>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ship fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Observations</h4>
                    <p class="text-muted text-justify">Ocean observations are an irreplaceable asset for science and human society.
Contrary to computer models, we have no chance of rerunning this climate scenario we all live in.  Thus we have to observe as much as we can!
I have worked with a variety of observations, from moored current meters, over shipboard measurements to remotely sensed data, making me appreciate all the hard work that goes into the collection of high-quality data.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Code</h4>
                    <p class="text-muted text-justify">
                      From the source code of climate models over analysis notebooks to the visualization of data, oceanographers need to code! <br>
Larger and larger datasets require computational efficiency, while collaboration with other scientists and software developers avoids repetition and encourages widely useable software.<br>
I firmly believe all scientific code needs to be open-source to break down barriers that result from requiring expensive licenses to software.<br>
I aim to make my scientific results 100% reproducible, well documented and integrate with community-driven projects like <a href="http://xarray.pydata.org/en/latest/"> xarray </a> and <a href"https://xgcm.readthedocs.io/en/latest/"> xgxm </a>.
This saves people time deciphering appendices, and recoding methods which they can spend on more exciting science and perhaps improving the code to the benefit of everyone.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Numerical Models</h4>
                    <p class="text-muted text-justify">
                      Modern supercomputers enable us to simulate the earth system with unprecedented detail.
Numerical models provide dynamical context for observations and are essential for predicting the future climate.
I have worked with idealized model simulations using <a href="http://mitgcm.org"> MITgcm </a> during my grad school.
Currently,  I am working with both coupled and ocean-only configurations of GFDL's <a href="https://github.com/NOAA-GFDL/MOM6-examples">MOM6</a> including biogeochemical models for the ocean.
                </div>
            </div>
        </div>
    </section>
